.back-btn {
    position: absolute;
    top: 0;
    right: 0;
    margin: 50px;
}

.todoform {
    width: 30%;
    margin: 20px auto;
    border: 1px solid rgb(235, 235, 235);
    padding: 50px;

    .btn-container {
        text-align: center;
        margin-top: 50px;
    }
}